@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&family=Satisfy&display=swap');
.navbar-brand{
    font-family: 'Satisfy', cursive;
    font-size:35px;
    letter-spacing: 3px;
   

}